In [ ]:
../assets/thumbnail_link_wide

In [1]:
import pandas as pd

In [5]:
thumb_imgs_long = pd.read_csv("../assets/thumbnail_link_long.csv")

In [6]:
thumb_imgs_long.shape

(77611, 5)

In [8]:
thumb_imgs_long.head(10)

   Unnamed: 0        img       type              label  confidence
0           0  img_00000      Label              Human   98.962936
1           1  img_00000      Label             People   98.962921
2           2  img_00000      Label             Person   98.962936
3           3  img_00000      Label           Clothing   94.796982
4           4  img_00000      Label               Coat   94.796982
5           5  img_00000      Label           Overcoat   94.796982
6           6  img_00000      Label               Suit   94.796982
7           7  img_00000      Label               Face   83.895828
8           8  img_00000      Label           Portrait   83.895828
9           9  img_00000  Celebrity  Leonardo DiCaprio   99.999084

In [9]:
thumb_imgs_wide = pd.read_csv("../assets/thumbnail_link_wide.csv")

/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,16,18,20,22,43,45,49,51,53,55,76,78,80,82,84,86,88,90,92,94,98,100,102,104,106,108,110,112,114,116,120,122,124,126,128,130,132,134,136,138,142,144,146,148,150,152,154,156,158,160,164,166,168,170,172,174,176,178,180,182,186,188,190,192,194,196,198,200,202,204,208,210,212,214,216,218,220,222,224,226,230,232,234,349,353,355,357,359,361,363,365,367,369,371,375,377,379,381,383,385,387,389,391,393,397,399,401,403,405,407,409,411,413,415) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
thumb_imgs_wide.head()

,Unnamed: 0,img,celeb_0,celeb_0_confidence,celeb_1,celeb_10,celeb_10_confidence,celeb_1_confidence,celeb_2,celeb_2_confidence,...,word_95_confidence,word_96,word_96_confidence,word_97,word_97_confidence,word_98,word_98_confidence,word_99,word_99_confidence,word_9_confidence
0,0,img_00000,Leonardo DiCaprio,99.999084,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,img_00001,Bernardino Luini,99.999336,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,img_00002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,img_00003,Lisa Lucas,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,img_00004,"Jelena Noura ""Gigi"" Hadid",99.695740,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.659897

In [11]:
df = pd.read_csv("../gitignore/newtweets_10percent.csv")

In [18]:
mapping_dict = pd.read_csv("mapping_dict.csv")

In [26]:
mapping_dict.columns = [["img", "link_thumbnail"]]

In [24]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'brand', 'engagement',
       'has_spend', 'id', 'impact', 'share_token', 'timestamp', 'type', 'urls',
       'favorite_count', 'hashtags', 'link_description', 'link_thumbnail',
       'link_title', 'link_url', 'links', 'media_url', 'retweet_count', 'text',
       'tweet_id', 'tweet_url',
       'channel_info_{'type': ['link'], 'channel': 'twitter'}',
       'channel_info_{'type': ['photo', 'link'], 'channel': 'twitter'}',
       'channel_info_{'type': ['photo'], 'channel': 'twitter'}',
       'channel_info_{'type': ['text only'], 'channel': 'twitter'}'],
      dtype='object')

In [25]:
df = df[["brand", "engagement", "impact", "timestamp", "favorite_count", "hashtags", "retweet_count", "link_thumbnail"]]

In [31]:
df.head()

,brand,engagement,impact,timestamp,favorite_count,hashtags,retweet_count,link_thumbnail
0,137326,316,2.613319,2017-11-16 02:53:24,269,NaN,47,https://assets.vogue.com/photos/5a0ca9458c64c4...
1,137329,82,2.000099,2017-11-16 02:23:40,54,NaN,28,https://media.wmagazine.com/photos/59dd2ae5a46...
2,137322,59,0.263980,2017-11-16 02:00:19,48,NaN,11,https://assets.teenvogue.com/photos/5a0b79da1d...
3,137325,102,0.831855,2017-11-16 00:20:05,76,NaN,26,https://media.vanityfair.com/photos/5a0cb19d70...
4,137329,21,0.540106,2017-11-16 00:00:30,16,NaN,5,https://media.wmagazine.com/photos/5a0a7396e61...

In [40]:
df["link_thumbnail"][0]

'https://assets.vogue.com/photos/5a0ca9458c64c451ac156d2e/16:9/pass/00-social-leonardo-dicaprio-hair-evolution.jpg'

In [42]:
mapping_dict["link_thumbnail"][0]

'https://assets.vogue.com/photos/5a0ca9458c64c451ac156d2e/16:9/pass/00-social-leonardo-dicaprio-hair-evolution.jpg'

In [43]:
mapping_dict["link_thumbnail"][0] == df["link_thumbnail"][0]

True

In [48]:
my_dict1 = mapping_dict.to_dict()

In [67]:
my_dict2  = {}
for i in my_dict1["img"]:
    my_dict2[my_dict1["link_thumbnail"][i]] = my_dict1["img"][i]

In [62]:
my_dict1["link_thumbnail"][0]

'https://assets.vogue.com/photos/5a0ca9458c64c451ac156d2e/16:9/pass/00-social-leonardo-dicaprio-hair-evolution.jpg'

In [73]:
df["img_num"] = df.apply(lambda x: my_dict2[x["link_thumbnail"]], axis =1)

In [76]:
df["img_num"].nunique()

8877

In [79]:
df_01 = df[["impact", "timestamp", "img_num"]]

In [85]:
df_01.columns= ["impact", "timestamp", "img"]

In [86]:
df_01.head()

     impact            timestamp        img
0  2.613319  2017-11-16 02:53:24  img_00000
1  2.000099  2017-11-16 02:23:40  img_00001
2  0.263980  2017-11-16 02:00:19  img_00002
3  0.831855  2017-11-16 00:20:05  img_00003
4  0.540106  2017-11-16 00:00:30  img_00004

In [87]:
thumb_imgs_long.head()

   Unnamed: 0        img   type     label  confidence
0           0  img_00000  Label     Human   98.962936
1           1  img_00000  Label    People   98.962921
2           2  img_00000  Label    Person   98.962936
3           3  img_00000  Label  Clothing   94.796982
4           4  img_00000  Label      Coat   94.796982

In [91]:
image_df = thumb_imgs_long.merge(df_01, on = "img", how='outer')

In [93]:
image_df[image_df["Unnamed: 0"].isnull()]

,Unnamed: 0,img,type,label,confidence,impact,timestamp
82248,NaN,img_00008,NaN,NaN,NaN,0.309508,2017-11-15 22:33:06
82249,NaN,img_00019,NaN,NaN,NaN,0.265482,2017-11-15 00:40:15
82250,NaN,img_09952,NaN,NaN,NaN,0.485437,2017-11-14 00:49:04
82251,NaN,img_09952,NaN,NaN,NaN,1.417176,2017-11-13 19:29:24
82252,NaN,img_09952,NaN,NaN,NaN,0.766041,2017-11-13 19:24:22
82253,NaN,img_09952,NaN,NaN,NaN,0.164895,2017-11-13 16:15:53
82254,NaN,img_09952,NaN,NaN,NaN,0.702586,2017-11-13 15:34:51
82255,NaN,img_09952,NaN,NaN,NaN,0.164895,2017-11-13 15:20:37
82256,NaN,img_09952,NaN,NaN,NaN,1.166758,2017-11-13 14:25:34
82257,NaN,img_09952,NaN,NaN,NaN,0.240277,2017-11-07 05:00:55
82258,NaN,img_09952,NaN,NaN,NaN,NaN,2017-11-02 16:16:48
82259,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-31 02:45:06
82260,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-28 00:40:05
82261,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-23 22:46:54
82262,NaN,img_09952,NaN,NaN,NaN,2.061953,2017-10-21 16:12:13
82263,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-20 15:46:01
82264,NaN,img_09952,NaN,NaN,NaN,0.676264,2017-10-18 00:00:39
82265,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-16 01:15:45
82266,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-14 16:16:03
82267,NaN,img_09952,NaN,NaN,NaN,0.163185,2017-10-13 13:31:01
82268,NaN,img_09952,NaN,NaN,NaN,1.642186,2017-10-12 19:57:06
82269,NaN,img_09952,NaN,NaN,NaN,0.244476,2017-10-11 15:28:53
82270,NaN,img_09952,NaN,NaN,NaN,0.057816,2017-10-10 22:34:05
82271,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-10 13:16:18
82272,NaN,img_09952,NaN,NaN,NaN,0.663288,2017-10-07 23:15:58
82273,NaN,img_09952,NaN,NaN,NaN,1.094951,2017-10-03 18:51:15
82274,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-01 19:15:39
82275,NaN,img_09952,NaN,NaN,NaN,NaN,2017-09-30 21:31:04
82276,NaN,img_09952,NaN,NaN,NaN,NaN,2017-09-28 17:02:23
82277,NaN,img_09952,NaN,NaN,NaN,0.009294,2017-09-27 17:36:30
...,...,...,...,...,...,...,...
84159,NaN,img_09941,NaN,NaN,NaN,NaN,2016-01-05 16:00:20
84160,NaN,img_09943,NaN,NaN,NaN,NaN,2016-01-05 15:18:59
84161,NaN,img_09946,NaN,NaN,NaN,NaN,2016-01-05 08:23:05
84162,NaN,img_09947,NaN,NaN,NaN,NaN,2016-01-05 06:45:47
84163,NaN,img_09948,NaN,NaN,NaN,NaN,2016-01-05 06:00:07
84164,NaN,img_09950,NaN,NaN,NaN,0.903050,2016-01-05 04:46:23
84165,NaN,img_09951,NaN,NaN,NaN,0.084523,2016-01-05 03:46:03
84166,NaN,img_09956,NaN,NaN,NaN,0.478768,2016-01-04 22:53:03
84167,NaN,img_09959,NaN,NaN,NaN,NaN,2016-01-04 17:18:15
84168,NaN,img_09962,NaN,NaN,NaN,NaN,2016-01-04 16:10:04
84169,NaN,img_09963,NaN,NaN,NaN,NaN,2016-01-04 13:49:56
84170,NaN,img_09964,NaN,NaN,NaN,0.506930,2016-01-04 13:22:04
84171,NaN,img_09970,NaN,NaN,NaN,NaN,2016-01-04 05:46:22
84172,NaN,img_09972,NaN,NaN,NaN,NaN,2016-01-03 21:21:04
84173,NaN,img_09973,NaN,NaN,NaN,NaN,2016-01-03 18:15:47
84174,NaN,img_09975,NaN,NaN,NaN,NaN,2016-01-03 15:43:32
84175,NaN,img_09976,NaN,NaN,NaN,NaN,2016-01-03 15:21:09
84176,NaN,img_09979,NaN,NaN,NaN,NaN,2016-01-02 22:59:30
84177,NaN,img_09982,NaN,NaN,NaN,NaN,2016-01-02 18:53:12
84178,NaN,img_09984,NaN,NaN,NaN,NaN,2016-01-02 16:52:39
84179,NaN,img_09986,NaN,NaN,NaN,NaN,2016-01-02 15:41:05
84180,NaN,img_09987,NaN,NaN,NaN,NaN,2016-01-02 15:40:34
84181,NaN,img_09989,NaN,NaN,NaN,0.687392,2016-01-02 11:30:09
84182,NaN,img_09990,NaN,NaN,NaN,NaN,2016-01-02 10:45:56
84183,NaN,img_09992,NaN,NaN,NaN,1.804403,2016-01-02 01:12:03
84184,NaN,img_09994,NaN,NaN,NaN,NaN,2016-01-01 20:20:04
84185,NaN,img_09995,NaN,NaN,NaN,NaN,2016-01-01 12:20:04
84186,NaN,img_09996,NaN,NaN,NaN,0.580876,2016-01-01 11:37:03
84187,NaN,img_09997,NaN,NaN,NaN,NaN,2016-01-01 11:36:46
84188,NaN,img_09999,NaN,NaN,NaN,NaN,2016-01-01 08:33:45

In [95]:
import boto
import boto3
conn = boto.connect_s3()
import requests

In [ ]:
bucket_name = '880220067832'
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucket_name)
images = image_df["img"]
client = boto3.client('rekognition')

results_wide = []
results_long = []

for img in images:
    img_dict_wide = {'img': img}
    #print(img)
    try:
        labels = client.detect_labels(Image={'S3Object':{'Bucket':bucket_name,'Name':img}},MinConfidence=75)
        if 'Labels' in labels:
            for l, label in enumerate(labels['Labels']):
                results_long.append({'img': img, 'type': 'Label', 'label': label['Name'], 
                                     'confidence': label['Confidence']})
                col = 'label_' + str(l)
                img_dict_wide[col] = label['Name']
                img_dict_wide[col + '_confidence'] = label['Confidence'] 
    except:
        continue
    try:        
        celebrities = client.recognize_celebrities(Image={'S3Object':{'Bucket':bucket_name,'Name':img}})
        if 'CelebrityFaces' in celebrities:
            for f, face in enumerate(celebrities['CelebrityFaces']):
                results_long.append({'img': img, 'type': 'Celebrity', 'label': face['Name'], 
                                     'confidence': face['Face']['Confidence']})
                col = 'celeb_' + str(f)
                img_dict_wide[col] = face['Name']
                img_dict_wide[col + '_confidence'] = face['Face']['Confidence']
    except:
        continue
    try:
        text_in_image = client.detect_text(Image={'S3Object':{'Bucket':bucket_name,'Name':img}})
        if "TextDetections" in text_in_image:
            for w, word in enumerate(text_in_image["TextDetections"]):
                results_long.append({'img': img, 'type': "Text", 'label': word["DetectedText"],
                                    'confidence': word["Confidence"]})
                col = 'word_' + str(w)
                img_dict_wide[col] = word["DetectedText"]
                img_dict_wide[col+ '_confidence'] = word["Confidence"]
    except:
        continue
            
    if 'Labels' not in labels and 'CelebrityFaces' not in celebrities and "TextDetections" not in text_in_image:
        results_long.append({'img': img, 'type': None, 'label': None, 'confidence': None})
        
    results_wide.append(img_dict_wide)
####
####
thumb_df_long_2 = pd.DataFrame(results_long, columns=['img', 'type', 'label', 'confidence'])
thumb_df_wide_2 = pd.DataFrame(results_wide)
cols = sorted(thumb_df_wide_2.columns)
cols.remove('img')
thumb_df_wide_2 = thung_df_wide_2[['img'] + cols]