In [ ]:
../assets/thumbnail_link_wide

In [1]:
import pandas as pd

In [5]:
thumb_imgs_long = pd.read_csv("../assets/thumbnail_link_long.csv")

In [6]:
thumb_imgs_long.shape

(77611, 5)

In [8]:
thumb_imgs_long.head(10)

   Unnamed: 0        img       type              label  confidence
0           0  img_00000      Label              Human   98.962936
1           1  img_00000      Label             People   98.962921
2           2  img_00000      Label             Person   98.962936
3           3  img_00000      Label           Clothing   94.796982
4           4  img_00000      Label               Coat   94.796982
5           5  img_00000      Label           Overcoat   94.796982
6           6  img_00000      Label               Suit   94.796982
7           7  img_00000      Label               Face   83.895828
8           8  img_00000      Label           Portrait   83.895828
9           9  img_00000  Celebrity  Leonardo DiCaprio   99.999084

In [9]:
thumb_imgs_wide = pd.read_csv("../assets/thumbnail_link_wide.csv")

/Users/nmolivo/anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (5,16,18,20,22,43,45,49,51,53,55,76,78,80,82,84,86,88,90,92,94,98,100,102,104,106,108,110,112,114,116,120,122,124,126,128,130,132,134,136,138,142,144,146,148,150,152,154,156,158,160,164,166,168,170,172,174,176,178,180,182,186,188,190,192,194,196,198,200,202,204,208,210,212,214,216,218,220,222,224,226,230,232,234,349,353,355,357,359,361,363,365,367,369,371,375,377,379,381,383,385,387,389,391,393,397,399,401,403,405,407,409,411,413,415) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
thumb_imgs_wide.head()

,Unnamed: 0,img,celeb_0,celeb_0_confidence,celeb_1,celeb_10,celeb_10_confidence,celeb_1_confidence,celeb_2,celeb_2_confidence,...,word_95_confidence,word_96,word_96_confidence,word_97,word_97_confidence,word_98,word_98_confidence,word_99,word_99_confidence,word_9_confidence
0,0,img_00000,Leonardo DiCaprio,99.999084,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,img_00001,Bernardino Luini,99.999336,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,img_00002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,img_00003,Lisa Lucas,100.000000,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,img_00004,"Jelena Noura ""Gigi"" Hadid",99.695740,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95.659897

In [11]:
df = pd.read_csv("../gitignore/newtweets_10percent.csv")

In [12]:
mapping_dict = pd.read_csv("../assets/mapping_dict_thumbnail.csv")

In [13]:
mapping_dict.columns = [["img", "link_thumbnail"]]

In [14]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'brand', 'engagement',
       'has_spend', 'id', 'impact', 'share_token', 'timestamp', 'type', 'urls',
       'favorite_count', 'hashtags', 'link_description', 'link_thumbnail',
       'link_title', 'link_url', 'links', 'media_url', 'retweet_count', 'text',
       'tweet_id', 'tweet_url',
       'channel_info_{'type': ['link'], 'channel': 'twitter'}',
       'channel_info_{'type': ['photo', 'link'], 'channel': 'twitter'}',
       'channel_info_{'type': ['photo'], 'channel': 'twitter'}',
       'channel_info_{'type': ['text only'], 'channel': 'twitter'}'],
      dtype='object')

In [15]:
df = df[["brand", "engagement", "impact", "timestamp", "favorite_count", "hashtags", "retweet_count", "link_thumbnail"]]

In [16]:
df.head()

,brand,engagement,impact,timestamp,favorite_count,hashtags,retweet_count,link_thumbnail
0,137326,316,2.613319,2017-11-16 02:53:24,269,NaN,47,https://assets.vogue.com/photos/5a0ca9458c64c4...
1,137329,82,2.000099,2017-11-16 02:23:40,54,NaN,28,https://media.wmagazine.com/photos/59dd2ae5a46...
2,137322,59,0.263980,2017-11-16 02:00:19,48,NaN,11,https://assets.teenvogue.com/photos/5a0b79da1d...
3,137325,102,0.831855,2017-11-16 00:20:05,76,NaN,26,https://media.vanityfair.com/photos/5a0cb19d70...
4,137329,21,0.540106,2017-11-16 00:00:30,16,NaN,5,https://media.wmagazine.com/photos/5a0a7396e61...

In [40]:
df.shape

(10000, 9)

In [23]:
my_dict1 = mapping_dict.to_dict()

In [24]:
my_dict2  = {}
for i in my_dict1["img"]:
    my_dict2[my_dict1["link_thumbnail"][i]] = my_dict1["img"][i]

In [25]:
df["img_num"] = df.apply(lambda x: my_dict2[x["link_thumbnail"]], axis =1)

In [26]:
df["img_num"].nunique()

8877

In [27]:
df_01 = df[["impact", "timestamp", "img_num"]]

In [28]:
df_01.columns= ["impact", "timestamp", "img"]

In [30]:
df_01

        impact            timestamp        img
0     2.613319  2017-11-16 02:53:24  img_00000
1     2.000099  2017-11-16 02:23:40  img_00001
2     0.263980  2017-11-16 02:00:19  img_00002
3     0.831855  2017-11-16 00:20:05  img_00003
4     0.540106  2017-11-16 00:00:30  img_00004
5     0.291574  2017-11-15 23:08:08  img_00005
6     0.098789  2017-11-15 23:01:02  img_00006
7     0.117721  2017-11-15 23:00:17  img_00007
8     0.309508  2017-11-15 22:33:06  img_00008
9     0.258992  2017-11-15 21:00:25  img_00009
10    0.583148  2017-11-15 19:54:22  img_00010
11    0.025124  2017-11-15 16:34:04  img_00011
12    0.050415  2017-11-15 15:16:45  img_00012
13    1.117353  2017-11-15 15:00:14  img_00013
14    0.482421  2017-11-15 12:00:20  img_00014
15    0.553593  2017-11-15 05:36:29  img_00015
16    0.553055  2017-11-15 03:22:54  img_00016
17    0.303203  2017-11-15 01:31:07  img_00017
18    0.681332  2017-11-15 00:56:57  img_00018
19    0.265482  2017-11-15 00:40:15  img_00019
20    0.508943  2017-11-14 22:35:44  img_00020
21    1.552736  2017-11-14 22:09:17  img_00021
22    0.216836  2017-11-14 20:16:37  img_00022
23    0.337851  2017-11-14 19:50:06  img_00023
24    0.337989  2017-11-14 19:24:30  img_00024
25    0.267600  2017-11-14 18:48:39  img_00025
26    0.348866  2017-11-14 17:33:15  img_00026
27    0.649601  2017-11-14 16:45:14  img_00027
28    0.112275  2017-11-14 16:34:06  img_00028
29    0.204113  2017-11-14 15:00:46  img_00029
...        ...                  ...        ...
9970       NaN  2016-01-04 05:46:22  img_09970
9971       NaN  2016-01-04 02:42:05  img_09980
9972       NaN  2016-01-03 21:21:04  img_09972
9973       NaN  2016-01-03 18:15:47  img_09973
9974       NaN  2016-01-03 16:35:06  img_09974
9975       NaN  2016-01-03 15:43:32  img_09975
9976       NaN  2016-01-03 15:21:09  img_09976
9977       NaN  2016-01-03 10:16:01  img_09977
9978       NaN  2016-01-03 09:13:03  img_09978
9979       NaN  2016-01-02 22:59:30  img_09979
9980       NaN  2016-01-02 22:21:05  img_09980
9981       NaN  2016-01-02 20:17:05  img_09981
9982       NaN  2016-01-02 18:53:12  img_09982
9983       NaN  2016-01-02 17:08:04  img_09983
9984       NaN  2016-01-02 16:52:39  img_09984
9985       NaN  2016-01-02 16:29:12  img_09985
9986       NaN  2016-01-02 15:41:05  img_09986
9987       NaN  2016-01-02 15:40:34  img_09987
9988       NaN  2016-01-02 15:22:22  img_09988
9989  0.687392  2016-01-02 11:30:09  img_09989
9990       NaN  2016-01-02 10:45:56  img_09990
9991       NaN  2016-01-02 04:03:04  img_09991
9992  1.804403  2016-01-02 01:12:03  img_09992
9993  1.713584  2016-01-01 20:35:05  img_09993
9994       NaN  2016-01-01 20:20:04  img_09994
9995       NaN  2016-01-01 12:20:04  img_09995
9996  0.580876  2016-01-01 11:37:03  img_09996
9997       NaN  2016-01-01 11:36:46  img_09997
9998       NaN  2016-01-01 08:55:19  img_09998
9999       NaN  2016-01-01 08:33:45  img_09999

[10000 rows x 3 columns]

In [36]:
thumb_imgs_long

       Unnamed: 0        img       type              label  confidence
0               0  img_00000      Label              Human   98.962936
1               1  img_00000      Label             People   98.962921
2               2  img_00000      Label             Person   98.962936
3               3  img_00000      Label           Clothing   94.796982
4               4  img_00000      Label               Coat   94.796982
5               5  img_00000      Label           Overcoat   94.796982
6               6  img_00000      Label               Suit   94.796982
7               7  img_00000      Label               Face   83.895828
8               8  img_00000      Label           Portrait   83.895828
9               9  img_00000  Celebrity  Leonardo DiCaprio   99.999084
10             10  img_00001      Label              Human   99.194107
11             11  img_00001      Label             People   99.194107
12             12  img_00001      Label             Person   99.194107
13             13  img_00001  Celebrity   Bernardino Luini   99.999336
14             14  img_00002      Label              Label   96.367851
15             15  img_00002      Label            Sticker   96.367851
16             16  img_00002      Label               Text   96.367851
17             17  img_00002       Text          are sure?   89.819656
18             18  img_00002       Text                you   97.977188
19             19  img_00002       Text                are   87.376259
20             20  img_00002       Text                you   97.977188
21             21  img_00002       Text              sure?   92.263062
22             22  img_00003      Label              Human   99.218994
23             23  img_00003      Label             People   99.218979
24             24  img_00003      Label             Person   99.218994
25             25  img_00003      Label           Bookcase   84.763809
26             26  img_00003      Label          Furniture   84.763809
27             27  img_00003  Celebrity         Lisa Lucas  100.000000
28             28  img_00004      Label              Human   99.246712
29             29  img_00004      Label             People   99.246712
...           ...        ...        ...                ...         ...
77581       77581  img_09983      Label             Blonde   98.195618
77582       77582  img_09983      Label             Female   98.195618
77583       77583  img_09983      Label               Girl   98.195618
77584       77584  img_09983      Label              Woman   98.195618
77585       77585  img_09983  Celebrity       Lili Simmons   99.993958
77586       77586  img_09985      Label              Human   98.402321
77587       77587  img_09985      Label             People   98.402260
77588       77588  img_09985      Label             Person   98.402321
77589       77589  img_09988      Label              Human   99.268707
77590       77590  img_09988      Label             People   99.268700
77591       77591  img_09988      Label             Person   99.268707
77592       77592  img_09988      Label                Art   89.260307
77593       77593  img_09988  Celebrity           Sade Adu   99.990700
77594       77594  img_09991      Label              Human   99.306114
77595       77595  img_09991      Label             People   99.306099
77596       77596  img_09991      Label             Person   99.306114
77597       77597  img_09998      Label              Human   99.300636
77598       77598  img_09998      Label             People   99.300636
77599       77599  img_09998      Label             Person   99.300636
77600       77600  img_09998      Label             Runway   96.066025
77601       77601  img_09998      Label           Clothing   94.502731
77602       77602  img_09998      Label          Miniskirt   94.502731
77603       77603  img_09998      Label              Skirt   94.502731
77604       77604  img_09998      Label         Bridesmaid   88.492447
77605       77605  img_09998      Label            Wedding   88.492447
77606       77606  img_09998      Label      Evening Dress   77.350792
77607       77607  img_09998      Label               Gown   77.350792
77608       77608  img_09998      Label               Robe   77.350792
77609       77609  img_09998  Celebrity            Rihanna   99.955765
77610       77610  img_09998  Celebrity         Xenia Deli   99.997543

[77611 rows x 5 columns]

In [39]:
thumb_imgs_long[thumb_imgs_long["img"] == "img_09989"]

Empty DataFrame
Columns: [Unnamed: 0, img, type, label, confidence]
Index: []

In [33]:
image_df = thumb_imgs_long.merge(df_01, on = "img", how='outer')

In [34]:
image_df[image_df["Unnamed: 0"].isnull()]

,Unnamed: 0,img,type,label,confidence,impact,timestamp
82248,NaN,img_00008,NaN,NaN,NaN,0.309508,2017-11-15 22:33:06
82249,NaN,img_00019,NaN,NaN,NaN,0.265482,2017-11-15 00:40:15
82250,NaN,img_09952,NaN,NaN,NaN,0.485437,2017-11-14 00:49:04
82251,NaN,img_09952,NaN,NaN,NaN,1.417176,2017-11-13 19:29:24
82252,NaN,img_09952,NaN,NaN,NaN,0.766041,2017-11-13 19:24:22
82253,NaN,img_09952,NaN,NaN,NaN,0.164895,2017-11-13 16:15:53
82254,NaN,img_09952,NaN,NaN,NaN,0.702586,2017-11-13 15:34:51
82255,NaN,img_09952,NaN,NaN,NaN,0.164895,2017-11-13 15:20:37
82256,NaN,img_09952,NaN,NaN,NaN,1.166758,2017-11-13 14:25:34
82257,NaN,img_09952,NaN,NaN,NaN,0.240277,2017-11-07 05:00:55
82258,NaN,img_09952,NaN,NaN,NaN,NaN,2017-11-02 16:16:48
82259,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-31 02:45:06
82260,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-28 00:40:05
82261,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-23 22:46:54
82262,NaN,img_09952,NaN,NaN,NaN,2.061953,2017-10-21 16:12:13
82263,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-20 15:46:01
82264,NaN,img_09952,NaN,NaN,NaN,0.676264,2017-10-18 00:00:39
82265,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-16 01:15:45
82266,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-14 16:16:03
82267,NaN,img_09952,NaN,NaN,NaN,0.163185,2017-10-13 13:31:01
82268,NaN,img_09952,NaN,NaN,NaN,1.642186,2017-10-12 19:57:06
82269,NaN,img_09952,NaN,NaN,NaN,0.244476,2017-10-11 15:28:53
82270,NaN,img_09952,NaN,NaN,NaN,0.057816,2017-10-10 22:34:05
82271,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-10 13:16:18
82272,NaN,img_09952,NaN,NaN,NaN,0.663288,2017-10-07 23:15:58
82273,NaN,img_09952,NaN,NaN,NaN,1.094951,2017-10-03 18:51:15
82274,NaN,img_09952,NaN,NaN,NaN,NaN,2017-10-01 19:15:39
82275,NaN,img_09952,NaN,NaN,NaN,NaN,2017-09-30 21:31:04
82276,NaN,img_09952,NaN,NaN,NaN,NaN,2017-09-28 17:02:23
82277,NaN,img_09952,NaN,NaN,NaN,0.009294,2017-09-27 17:36:30
...,...,...,...,...,...,...,...
84159,NaN,img_09941,NaN,NaN,NaN,NaN,2016-01-05 16:00:20
84160,NaN,img_09943,NaN,NaN,NaN,NaN,2016-01-05 15:18:59
84161,NaN,img_09946,NaN,NaN,NaN,NaN,2016-01-05 08:23:05
84162,NaN,img_09947,NaN,NaN,NaN,NaN,2016-01-05 06:45:47
84163,NaN,img_09948,NaN,NaN,NaN,NaN,2016-01-05 06:00:07
84164,NaN,img_09950,NaN,NaN,NaN,0.903050,2016-01-05 04:46:23
84165,NaN,img_09951,NaN,NaN,NaN,0.084523,2016-01-05 03:46:03
84166,NaN,img_09956,NaN,NaN,NaN,0.478768,2016-01-04 22:53:03
84167,NaN,img_09959,NaN,NaN,NaN,NaN,2016-01-04 17:18:15
84168,NaN,img_09962,NaN,NaN,NaN,NaN,2016-01-04 16:10:04
84169,NaN,img_09963,NaN,NaN,NaN,NaN,2016-01-04 13:49:56
84170,NaN,img_09964,NaN,NaN,NaN,0.506930,2016-01-04 13:22:04
84171,NaN,img_09970,NaN,NaN,NaN,NaN,2016-01-04 05:46:22
84172,NaN,img_09972,NaN,NaN,NaN,NaN,2016-01-03 21:21:04
84173,NaN,img_09973,NaN,NaN,NaN,NaN,2016-01-03 18:15:47
84174,NaN,img_09975,NaN,NaN,NaN,NaN,2016-01-03 15:43:32
84175,NaN,img_09976,NaN,NaN,NaN,NaN,2016-01-03 15:21:09
84176,NaN,img_09979,NaN,NaN,NaN,NaN,2016-01-02 22:59:30
84177,NaN,img_09982,NaN,NaN,NaN,NaN,2016-01-02 18:53:12
84178,NaN,img_09984,NaN,NaN,NaN,NaN,2016-01-02 16:52:39
84179,NaN,img_09986,NaN,NaN,NaN,NaN,2016-01-02 15:41:05
84180,NaN,img_09987,NaN,NaN,NaN,NaN,2016-01-02 15:40:34
84181,NaN,img_09989,NaN,NaN,NaN,0.687392,2016-01-02 11:30:09
84182,NaN,img_09990,NaN,NaN,NaN,NaN,2016-01-02 10:45:56
84183,NaN,img_09992,NaN,NaN,NaN,1.804403,2016-01-02 01:12:03
84184,NaN,img_09994,NaN,NaN,NaN,NaN,2016-01-01 20:20:04
84185,NaN,img_09995,NaN,NaN,NaN,NaN,2016-01-01 12:20:04
84186,NaN,img_09996,NaN,NaN,NaN,0.580876,2016-01-01 11:37:03
84187,NaN,img_09997,NaN,NaN,NaN,NaN,2016-01-01 11:36:46
84188,NaN,img_09999,NaN,NaN,NaN,NaN,2016-01-01 08:33:45

In [95]:
import boto
import boto3
conn = boto.connect_s3()
import requests

In [ ]:
bucket_name = '880220067832'
s3 = boto3.resource('s3')
bucket = s3.Bucket(bucket_name)
images = image_df["img"]
client = boto3.client('rekognition')

results_wide = []
results_long = []

for img in images:
    img_dict_wide = {'img': img}
    #print(img)
    try:
        labels = client.detect_labels(Image={'S3Object':{'Bucket':bucket_name,'Name':img}},MinConfidence=75)
        if 'Labels' in labels:
            for l, label in enumerate(labels['Labels']):
                results_long.append({'img': img, 'type': 'Label', 'label': label['Name'], 
                                     'confidence': label['Confidence']})
                col = 'label_' + str(l)
                img_dict_wide[col] = label['Name']
                img_dict_wide[col + '_confidence'] = label['Confidence'] 
    except:
        continue
    try:        
        celebrities = client.recognize_celebrities(Image={'S3Object':{'Bucket':bucket_name,'Name':img}})
        if 'CelebrityFaces' in celebrities:
            for f, face in enumerate(celebrities['CelebrityFaces']):
                results_long.append({'img': img, 'type': 'Celebrity', 'label': face['Name'], 
                                     'confidence': face['Face']['Confidence']})
                col = 'celeb_' + str(f)
                img_dict_wide[col] = face['Name']
                img_dict_wide[col + '_confidence'] = face['Face']['Confidence']
    except:
        continue
    try:
        text_in_image = client.detect_text(Image={'S3Object':{'Bucket':bucket_name,'Name':img}})
        if "TextDetections" in text_in_image:
            for w, word in enumerate(text_in_image["TextDetections"]):
                results_long.append({'img': img, 'type': "Text", 'label': word["DetectedText"],
                                    'confidence': word["Confidence"]})
                col = 'word_' + str(w)
                img_dict_wide[col] = word["DetectedText"]
                img_dict_wide[col+ '_confidence'] = word["Confidence"]
    except:
        continue
            
    if 'Labels' not in labels and 'CelebrityFaces' not in celebrities and "TextDetections" not in text_in_image:
        results_long.append({'img': img, 'type': None, 'label': None, 'confidence': None})
        
    results_wide.append(img_dict_wide)
####
####
thumb_df_long_2 = pd.DataFrame(results_long, columns=['img', 'type', 'label', 'confidence'])
thumb_df_wide_2 = pd.DataFrame(results_wide)
cols = sorted(thumb_df_wide_2.columns)
cols.remove('img')
thumb_df_wide_2 = thung_df_wide_2[['img'] + cols]